@model IEnumerable<Taskmanagement.Models.Task>

    <h2 style="color:orangered">Task Details :</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr style="color:red">
                    <th>Task Title </th>
                    <th>Task Description </th>
                    <th>Task Due Date </th>
                    
                    <th>Delete</th>
                </tr>
            </thead>
            
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Dates</td>
                        &nbsp;
                        
                        <td>@Html.ActionLink("Delete Task", "Delete", new { @id = item.Id })</td>
                    </tr>
                }
            }
        </table>
       
    </div>

