@model Taskmanagement.Models.Task

    <h2 style="text-align:center">Edit Task : </h2>
    <div>
        @using (Html.BeginForm())
        {
            <table align="center">
                <tr>
                    <td>Task_Number : </td>
                    <td>@Html.TextBoxFor(e => e.Id, new { @class = "btn btn-outline-success", disabled="true" })</td>
                </tr>
                <tr>
                    <td>Task_Title : </td>
                    <td>@Html.TextBoxFor(e => e.Title, new { @class = "btn btn-outline-success" })</td>
                </tr>
                <tr>
                    <td>Task_Description : </td>
                    <td>@Html.TextBoxFor(e => e.Description, new { @class = "btn btn-outline-success" })</td>
                </tr>
                <tr>
                    <td>Task_Due_Date : </td>
                    <td>@Html.TextBoxFor(e => e.Dates, new { @class = "btn btn-outline-success" })</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn bg-primary text-bg-dark" value="Edit Task" />
                    </td>
                </tr>
            </table>
        }
    </div>

